                        .mar {
                            margin: 100px auto;
                        }

                        .container {
                            max-width: 1450px;
                            width: 100%;
                        }

                        .card-img {
                            height: 220px;
                        }


                        .carousel-item {
                            height: 500px;
                            background-image: url('img/buddha2.jpg');
                            background-size: 100%;
                        }

                        .carousel-item:nth-child(2) {
                            background-image: url('img/bluekey.jpg');
                            background-size: 100%;
                        }

                        .carousel-item:nth-child(3) {
                            background-image: url('img/keyboard.jpg');
                            background-size: 100%;
                        }
                        /*.nav-item {
    padding-right: 150px;
}*/