                        .mar {
                            margin: 120px auto;
                        }

                        .container {
                            max-width: 1400px;
                            width: 100%;
                        }

                        .card-img {
                            height: 220px;
                        }


                        .carousel-item {
                            height: 500px;
                            background-image: url('img/buddha2.jpg');
                            background-size: 100%;
                        }

                        .carousel-item:nth-child(2) {
                            background-image: url('img/bluekey.jpg');
                            background-size: 100%;
                        }

                        .carousel-item:nth-child(3) {
                            background-image: url('img/keyboard.jpg');
                            background-size: 100%;
                        }

                        .carousel-item h2 {
                            text-shadow: 1px 1px 1px rgba(20, 20, 20, 1);
                            height: 120px;
                        }

                        .carousel-item h1 {
                            font-family: 'Indie Flower', cursive;
                            text-shadow: 1px 1px 1px rgba(20, 20, 20, 1);
                            font-size: 100px;
                            margin-bottom: 80px;
                        }



                        #powerup a {
                            padding-right: 65px
                        }

                        #name {
                            color: rgb(40, 108, 255);
                        }

                        body>div.container>div {
                            padding-top: 50px;
                        }

                        .narrow {

                            width: 70%;
                            margin: 0 auto 30px;
                        }